NdlDir=$ExpDir$
DeviceNumber=$DeviceNumber$
command=$action$

precision=float

TrainLSTM=[
    action=trainRNN
    modelPath=$modelName$

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$
    traceLevel=1
    useValidation=true
    NDLNetworkBuilder=[
        ndlMacros=$NdlDir$/default_macros.ndl	
        networkDescription=$ndlfile$
    ]


    SGD=[
        epochSize=0         
        minibatchSize=20
        #learningRatesPerMB=0.1:1
        #learningRatesPerMB=0.2:1:1:1
        #learningRatesPerMB=0.8
	learningRatesPerSample=$lrps$
        #momentumPerMB=0.99
        momentumPerMB=0:0.9
        dropoutRate=0.0
        maxEpochs=$trainEpochs$
        #numMBsToShowResult=100
    

        #settings for Auto Adjust Learning Rate
        AutoAdjust=[
            reduceLearnRateIfImproveLessThan=0
            loadBestModel=true
            increaseLearnRateIfImproveMoreThan=1000000000
            learnRateDecreaseFactor=0.5
            autoAdjustLR=AdjustAfterEpoch
            learnRateAdjustInterval=1
        ]

        gradientClippingWithTruncation=true
        clippingThresholdPerSample=1#INF

    ]
       
    # Parameter values for the reader
    reader=[
      # reader to use
      readerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      Truncated=true
      nbruttsineachrecurrentiter=40
      miniBatchMode=Partial
      # randomize=Auto
      randomize=500000
      verbosity=1   
      features=[
    	dim=$featDim$
        scpFile=$inputCounts$
	rx=$inputFeats$
        featureTransform=$featureTransform$
      ]
      stftn=[
        dim=$stftDim$
        scpFile=$inputCounts$
        rx=$inputStftn$
        featureTransform=$featureTransform$
      ]
      stftc=[
        dim=$stftDim$
        scpFile=$inputCounts$
        rx=$inputStftc$
        featureTransform=$featureTransform$
      ]
    ]
    cvReader=[
      # reader to use
      readerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      # randomize=Auto
      randomize=500000
      Truncated=true
      nbruttsineachrecurrentiter=64

      verbosity=0
      features=[
    	dim=$featDim$
	scpFile=$cvInputCounts$
	rx=$cvInputFeats$
        featureTransform=$featureTransform$
      ]
      stftn=[
        dim=$stftDim$
        scpFile=$cvInputCounts$
        rx=$cvInputStftn$
        featureTransform=$featureTransform$
      ]
      stftc=[
        dim=$stftDim$
        scpFile=$cvInputCounts$
        rx=$cvInputStftc$
        featureTransform=$featureTransform$
      ]
      AllstftnMag=[
        dim=$AllhstftDim$
        scpFile=$cvInputCounts$
        rx=$cvinputAllStftnMag$
        featureTransform=$featureTransform$
      ]
    ]
]
