DeviceNumber=$DeviceNumber$
command=$action$

numCPUThreads=1
precision=float

write=[
    action=write
    modelPath=$modelName$
    outputNodeNames=MaskedNoisywithPhase

    # deviceId=-1 for CPU, >=0 for GPU devices 
    deviceId=$DeviceNumber$
    traceLevel=1
    useValidation=true

    printValues=true
      
    reader=[
      # reader to use
      readerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   
      features=[
        dim=$featDim$
        scpFile=$inputCounts$
        rx=$inputFeats$
      ]
      stftn=[
        dim=$stftDim$
        scpFile=$inputCounts$
        rx=$inputStftn$
      ]
#      stftc=[
#        dim=$stftDim$
#        scpFile=$inputCounts$
#        rx=$inputStftc$
#        featureTransform=$featureTransform$
#      ]
    ]
    writer=[
      # reader to use
      writerType=Kaldi2Reader
      readMethod=blockRandomize
      frameMode=false
      miniBatchMode=Partial
      randomize=Auto
      verbosity=1   
      MaskedNoisywithPhase=[
        dim=$stftDim$
        Kaldicmd="ark:-"
	scpFile=$inputCounts$
      ]
    ]
]
